<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ink.tsg.classification.third.dao.ThirdClassMapper">
  <resultMap id="BaseResultMap" type="ink.tsg.classification.third.bean.ThirdClass">
    <id column="tclassification_id" jdbcType="INTEGER" property="tclassificationId" />
    <result column="tclassification_name" jdbcType="VARCHAR" property="tclassificationName" />
    <result column="tc_sc_id" jdbcType="INTEGER" property="tcScId" />
  </resultMap>
  <!-- 联合查询出二级分类的信息 -->
  <resultMap id="BaseResultMapWhitSC" type="ink.tsg.classification.third.bean.ThirdClass">
    <id column="tclassification_id" jdbcType="INTEGER" property="tclassificationId" />
    <result column="tclassification_name" jdbcType="VARCHAR" property="tclassificationName" />
    <result column="tc_sc_id" jdbcType="INTEGER" property="tcScId" />
    <association property="secondClass" javaType="ink.tsg.classification.second.bean.SecondClass">
    	<id column="sclassification_id" property="sclassificationId"/>
    	<result column="sclassification_name" property="sclassificationName"/>
    </association>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    tclassification_id, tclassification_name, tc_sc_id
  </sql>
  
  <!-- 联合查询出二级分类的信息 -->
  <sql id="Base_Column_List_WhitSC">
    t.tclassification_id, t.tclassification_name, t.tc_sc_id,s.sclassification_id,s.sclassification_name
  </sql>
  <select id="selectByExampleWhitSC" parameterType="ink.tsg.classification.third.bean.ThirdClassExample" resultMap="BaseResultMapWhitSC">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List_WhitSC" />
    from tb_thirdclass t
    LEFT JOIN tb_secondclass s ON t.tc_sc_id=s.sclassification_id
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  
  
  <select id="selectByExample" parameterType="ink.tsg.classification.third.bean.ThirdClassExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_thirdclass
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_thirdclass
    where tclassification_id = #{tclassificationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_thirdclass
    where tclassification_id = #{tclassificationId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="ink.tsg.classification.third.bean.ThirdClassExample">
    delete from tb_thirdclass
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ink.tsg.classification.third.bean.ThirdClass">
    insert into tb_thirdclass (tclassification_id, tclassification_name, 
      tc_sc_id)
    values (#{tclassificationId,jdbcType=INTEGER}, #{tclassificationName,jdbcType=VARCHAR}, 
      #{tcScId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="ink.tsg.classification.third.bean.ThirdClass">
    insert into tb_thirdclass
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tclassificationId != null">
        tclassification_id,
      </if>
      <if test="tclassificationName != null">
        tclassification_name,
      </if>
      <if test="tcScId != null">
        tc_sc_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tclassificationId != null">
        #{tclassificationId,jdbcType=INTEGER},
      </if>
      <if test="tclassificationName != null">
        #{tclassificationName,jdbcType=VARCHAR},
      </if>
      <if test="tcScId != null">
        #{tcScId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ink.tsg.classification.third.bean.ThirdClassExample" resultType="java.lang.Long">
    select count(*) from tb_thirdclass
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
   <!-- 自定义一个校验，根据外键查询，用于验证是否有重复的名字 -->
  <!--<select id="countByFK" parameterType="ink.tsg.classification.third.bean.ThirdClassExample" resultType="java.lang.Long">
    select count(*) from tb_thirdclass
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select> -->
  
  
  <update id="updateByExampleSelective" parameterType="map">
    update tb_thirdclass
    <set>
      <if test="record.tclassificationId != null">
        tclassification_id = #{record.tclassificationId,jdbcType=INTEGER},
      </if>
      <if test="record.tclassificationName != null">
        tclassification_name = #{record.tclassificationName,jdbcType=VARCHAR},
      </if>
      <if test="record.tcScId != null">
        tc_sc_id = #{record.tcScId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_thirdclass
    set tclassification_id = #{record.tclassificationId,jdbcType=INTEGER},
      tclassification_name = #{record.tclassificationName,jdbcType=VARCHAR},
      tc_sc_id = #{record.tcScId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ink.tsg.classification.third.bean.ThirdClass">
    update tb_thirdclass
    <set>
      <if test="tclassificationName != null">
        tclassification_name = #{tclassificationName,jdbcType=VARCHAR},
      </if>
      <if test="tcScId != null">
        tc_sc_id = #{tcScId,jdbcType=INTEGER},
      </if>
    </set>
    where tclassification_id = #{tclassificationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ink.tsg.classification.third.bean.ThirdClass">
    update tb_thirdclass
    set tclassification_name = #{tclassificationName,jdbcType=VARCHAR},
      tc_sc_id = #{tcScId,jdbcType=INTEGER}
    where tclassification_id = #{tclassificationId,jdbcType=INTEGER}
  </update>
</mapper>